In [1]:
import pandas as pd
from surprise import Reader, Dataset
from surprise import SVD, evaluate
from surprise import NMF
import matplotlib.pyplot as plt
import math
import numpy as np

In [2]:
from sklearn.neighbors import NearestNeighbors
from sklearn.preprocessing import StandardScaler

In [3]:
from keras.models import Model
from keras.applications.inception_v3 import InceptionV3
from keras.models import Model

from os import listdir
from keras.preprocessing.image import load_img
from keras.preprocessing.image import img_to_array

Using TensorFlow backend.
/anaconda3/lib/python3.7/importlib/_bootstrap.py:219: RuntimeWarning: compiletime version 3.6 of module 'tensorflow.python.framework.fast_tensor_util' does not match runtime version 3.7
  return f(*args, **kwds)

In [4]:
from sklearn.preprocessing import OneHotEncoder

In [5]:
train = pd.read_csv('train.csv')

In [6]:
product = pd.read_csv('product_attributes.csv')

In [7]:
test = pd.read_csv('../test_nFNPSyV.csv')

In [8]:
sample = pd.read_csv('../sample_submission_qfCnaKZ.csv')

In [9]:
train.head()

   UserId  productid  Quantity OrderDate
0   18075   12322648         1  01/04/18
1    6820   12371370         1  01/04/18
2    6820   12973004         1  01/04/18
3    6820   12657560         1  01/04/18
4    6820   11659914         1  01/04/18

In [10]:
products = list(product['productid'].unique())

In [15]:
total_quantity = train['Quantity'].sum()

In [17]:
total_quantity

134363

In [21]:
product['productid'].unique().shape

(3015,)

In [22]:
product_sold = train.groupby('productid')['Quantity'].sum().reset_index()

In [23]:
product_sold['weight'] = product_sold['Quantity']/total_quantity

In [27]:
product_sold = product_sold.drop('Quantity', axis=1)

In [29]:
#selectedlayer = "..."
#base_modelv3 = InceptionV3(weights='imagenet')
#model= Model(inputs=base_modelv3.input,  outputs=base_modelv3.get_layer(selectedlayer).output)

In [30]:
images = []

def preprocess_input(x):
    x /= 255.
    x -= 0.5
    x *= 2.
    return x

for i in products:
    image = load_img('./images/{}.jpg'.format(i), target_size=(8, 8))
    # convert the image pixels to a numpy array
    image = img_to_array(image)
    # reshape data for the model
    image = np.expand_dims(image, axis=0)
    # prepare the image for the  model
    image = preprocess_input(image)
    image = image.reshape(64,3).mean(axis=0)
    images.append(image)

In [31]:
len(products)

3015

In [32]:
len(images)

3015

In [33]:
image_features = pd.DataFrame(images)

In [34]:
image_features['productid'] = products

In [35]:
baseline = train.groupby('productid')['UserId'].count().reset_index().sort_values('UserId',ascending=False).head(10)

In [36]:
top10 =  baseline['productid'].tolist()

In [37]:
chh = train.groupby('UserId').count().reset_index()

In [38]:
train.head()

   UserId  productid  Quantity OrderDate
0   18075   12322648         1  01/04/18
1    6820   12371370         1  01/04/18
2    6820   12973004         1  01/04/18
3    6820   12657560         1  01/04/18
4    6820   11659914         1  01/04/18

In [39]:
product.head()

   productid attribute_name  attributevalue
0   11145600            Fit              37
1   11145600  Sleeve Length              23
2   11145600         Fabric              16
3   11145600          Color              25
4   11145600       Neckline              51

In [40]:
product_wide = product.pivot_table(index='productid',columns='attribute_name',values='attributevalue').reset_index()

In [41]:
image_features.head()

          0         1         2  productid
0  0.750490  0.772549  0.842892   11145600
1  0.934069  0.854657  0.852696   11145602
2  0.925490  0.804779  0.798039   11145612
3  0.920711  0.869730  0.789216   11145614
4  0.721691  0.744976  0.723529   11145620

In [42]:
image_features.head()

          0         1         2  productid
0  0.750490  0.772549  0.842892   11145600
1  0.934069  0.854657  0.852696   11145602
2  0.925490  0.804779  0.798039   11145612
3  0.920711  0.869730  0.789216   11145614
4  0.721691  0.744976  0.723529   11145620

In [43]:
product_wide = product_wide.merge(image_features, on='productid')

In [44]:
train_agg = train.groupby(['UserId','productid'])['Quantity'].sum().reset_index()

In [45]:
train_agg.describe()

             UserId     productid      Quantity
count  74915.000000  7.491500e+04  74915.000000
mean   14493.035173  1.232877e+07      1.793539
std     8248.096978  5.583793e+05      4.705072
min        0.000000  1.113919e+07      1.000000
25%     7354.500000  1.165994e+07      1.000000
50%    14580.000000  1.240746e+07      1.000000
75%    21813.500000  1.265833e+07      1.000000
max    27777.000000  1.412948e+07    275.000000

In [46]:
train_agg.head()

   UserId  productid  Quantity
0       0   11659624         1
1       1   12406904         1
2       2   11660064         1
3       3   12360440         3
4       3   12371354         3

In [47]:
product_wide.head()

,productid,Category,Collection,Color,Fabric,Fit,Material,Neckline,Season,Sleeve Length,0,1,2
0,11139192,1.0,NaN,41.0,2.0,0.0,NaN,NaN,42.0,NaN,0.793995,0.790441,0.810907
1,11139194,1.0,NaN,25.0,2.0,0.0,NaN,NaN,42.0,NaN,0.254412,0.287623,0.456740
2,11139524,1.0,NaN,95.0,16.0,14.0,NaN,4.0,42.0,23.0,0.902941,0.730024,0.730024
3,11139560,1.0,NaN,41.0,2.0,14.0,NaN,4.0,42.0,127.0,0.897917,0.845956,0.827573
4,11139588,1.0,NaN,25.0,58.0,0.0,NaN,NaN,42.0,NaN,0.636765,0.639216,0.696078

In [48]:
final_train = train_agg.merge(product_wide, on='productid', how='left').fillna(-1)

In [49]:
final_train['UserId'].nunique()

27778

In [50]:
for i in final_train.columns:
    print(i,final_train[i].nunique())

UserId 27778
productid 3026
Quantity 108
Category 6
Collection 22
Color 134
Fabric 35
Fit 8
Material 5
Neckline 14
Season 9
Sleeve Length 16
0 2712
1 2715
2 2724

In [51]:
final_train = pd.get_dummies(final_train,columns = ['Category','Fit','Material','Season','Collection'])

In [52]:
final_user_mean = final_train.groupby('UserId').mean().reset_index()

In [53]:
final_user_mean = final_user_mean.drop('productid',axis=1)

In [54]:
final_user_mean.head()

,UserId,Quantity,Color,Fabric,Neckline,Sleeve Length,0,1,2,Category_-1.0,...,Collection_97.0,Collection_101.0,Collection_105.0,Collection_109.0,Collection_110.0,Collection_135.0,Collection_143.0,Collection_168.0,Collection_178.0,Collection_212.0
0,0,1.0,32.000000,27.000000,8.0,3.000000,0.870221,0.738113,0.671324,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
1,1,1.0,18.000000,2.000000,8.0,3.000000,0.434314,0.414338,0.418260,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
2,2,1.0,84.000000,55.000000,4.0,23.000000,0.866667,0.884191,0.763603,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
3,3,3.0,36.833333,29.333333,3.0,1.666667,0.868015,0.691932,0.649837,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
4,4,1.0,31.500000,69.000000,1.5,1.000000,0.765257,0.647365,0.583149,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0

In [55]:
final_user_mean.shape

(27778, 59)

In [56]:
scaler = StandardScaler()

In [57]:
#scaler.fit_transform(final_user_mean.iloc[:,1:])

In [58]:
final_user_mean.shape

(27778, 59)

In [59]:
#collab_pred = total_df.apply(lambda x: algo.predict(x[0],x[1]),axis=1)

In [60]:
nbrs = NearestNeighbors(n_neighbors=30, algorithm='auto').fit(scaler.fit_transform(final_user_mean.iloc[:,1:]))

In [61]:
distances, indices = nbrs.kneighbors(scaler.fit_transform(final_user_mean.iloc[:,1:]))

In [62]:
#distances

In [63]:
indices.shape

(27778, 30)

In [64]:
nearest_n = pd.DataFrame(indices)

In [65]:
nearest_n['UserId'] = nearest_n.index

In [66]:
nearest_n.head()

,0,1,2,3,4,5,6,7,8,9,...,21,22,23,24,25,26,27,28,29,UserId
0,1015,23480,21339,22549,10420,20486,22179,21695,10085,2393,...,0,11328,10809,2342,2585,17813,6752,7117,3382,0
1,6502,15159,14689,13968,11106,13085,10928,12046,10189,6692,...,11825,1,10594,4205,2146,30,2868,2714,2223,1
2,2819,13554,3057,14575,5577,7661,27499,16608,10630,12420,...,10605,9256,12589,4608,19120,11694,2872,16609,12021,2
3,3,11480,16844,768,2878,7548,20601,679,8817,16526,...,17313,24599,11623,7070,9365,618,25287,10088,21506,3
4,4,13641,19833,8010,10560,15783,3185,17001,15672,26861,...,9701,22499,15621,7936,22483,22305,9523,17798,7725,4

In [67]:
nearest_n_long = nearest_n.melt(id_vars='UserId').sort_values(['UserId','variable'])

In [91]:
final_merged = nearest_n_long.merge(train_agg,left_on=['value'], right_on='UserId').sort_values(['UserId_x','variable'])

In [92]:
check = final_merged.groupby('UserId_x')['productid'].nunique().reset_index()

In [93]:
top10

[12658512,
 12407154,
 12407730,
 12371378,
 11659624,
 12407400,
 12406904,
 12407742,
 12407398,
 12360424]

In [94]:
final_merged.head()

     UserId_x variable  value  UserId_y  productid  Quantity
0           0        0   1015      1015   11659624         1
52          0        1  23480     23480   11659624         1
86          0        2  21339     21339   11659624         1
124         0        3  22549     22549   11659624         1
158         0        4  10420     10420   11659624         1

In [95]:
product_sold.shape

(3026, 2)

In [96]:
final_merged.shape

(2450970, 6)

In [98]:
final_merged= final_merged.merge(product_sold,on='productid', how='inner')

In [131]:
final_merged[final_merged['UserId_x']==2]

       UserId_x variable  value  UserId_y  productid  Quantity    weight
16518         2        0   2819      2819   11660064         1  0.000640
16519         2        1  13554     13554   11660064         1  0.000640
16520         2        2   3057      3057   11660064         1  0.000640
16521         2        3  14575     14575   11660064         1  0.000640
16522         2        4   5577      5577   11660064         1  0.000640
16523         2        5   7661      7661   11660064         1  0.000640
16524         2        6  27499     27499   11660064         1  0.000640
16525         2        7  16608     16608   11660064         1  0.000640
16526         2        8  10630     10630   11660064         1  0.000640
16527         2        9  12420     12420   11660064         1  0.000640
16528         2       10  17556     17556   11660064         1  0.000640
16529         2       11      2         2   11660064         1  0.000640
16530         2       12  21067     21067   11660064         2  0.000640
16531         2       13   7181      7181   11660064         2  0.000640
16532         2       14  12179     12179   11660064         1  0.000640
16533         2       15  18243     18243   11660064         1  0.000640
16534         2       18   9088      9088   11660064         1  0.000640
16535         2       19    668       668   11660064         1  0.000640
16536         2       20   6992      6992   11660064         1  0.000640
16537         2       21  10605     10605   11660064         1  0.000640
16538         2       22   9256      9256   11660064         1  0.000640
16539         2       29  12021     12021   11660064         2  0.000640
17821         2       14  12179     12179   11714456         1  0.000060
18098         2       15  18243     18243   12407198         1  0.000149
18431         2       16   6165      6165   11660024         1  0.000141
18432         2       17  27599     27599   11660024         1  0.000141
18689         2       18   9088      9088   11660068         1  0.000246
19257         2       19    668       668   11481104         1  0.000127
19560         2       20   6992      6992   12407154         1  0.004867
19561         2       21  10605     10605   12407154         1  0.004867
31535         2       22   9256      9256   12371374         1  0.001615
36415         2       22   9256      9256   12657954         1  0.000164
36918         2       23  12589     12589   11660226         1  0.000484
36919         2       24   4608      4608   11660226         1  0.000484
36920         2       25  19120     19120   11660226         1  0.000484
36921         2       26  11694     11694   11660226         1  0.000484
38117         2       27   2872      2872   11660236         1  0.000089
38118         2       28  16609     16609   11660236         1  0.000089
38554         2       29  12021     12021   12407134         2  0.000305

In [101]:
#final_merged.groupby('UserId_x')['weight'].nlargest(10)

In [136]:
final_pred = final_merged.groupby('UserId_x')['productid'].unique().reset_index()

In [137]:
weight_hash = product_sold.groupby('productid')['weight'].agg(list).to_dict()

In [120]:
map(weight_hash.get,final_pred['productid'][3])

In [140]:
final_pred.head()

   UserId_x                                          productid
0         0                                         [11659624]
1         1                                         [12406904]
2         2  [11660064, 11714456, 12407198, 11660024, 11660...
3         3  [11659624, 12371374, 12360440, 12371354, 12407...
4         4  [12407446, 12658360, 12407742, 13039516, 12657...

In [146]:
list_ch = [(k,weight_hash[k][0]) for k in row]

In [156]:
dum = sorted(list_ch,key=lambda x: x[1],reverse=True)[:10]

In [160]:
for i in dum:
    print(i[0])

12371378
11659624
12407742
12407382
12360424
11659236
12407132
12371376
12973004
12696914

In [119]:
final_pred['productid'][3]

In [114]:
top10[:2]

[12658512, 12407154]

In [314]:
def append_list(row):
    ct=0
    row = list(row)
    if len(row) < 10:
        while(len(row)<10):
            row.append(top10[ct])
            ct = ct + 1
        return row
    else:
        L = []
        get_weights = [(k,weight_hash[k][0]) for k in row]
        sorted_weights = sorted(get_weights,key=lambda x: x[1],reverse=True)[:10]
        for k in sorted_weights:
            L.append(k[0])
        return L

In [315]:
final_pred['productid'] = final_pred['productid'].apply(append_list)

In [316]:
final_pred.head()

   UserId_x                                          productid
0         0  [11659624, 12658512, 12407154, 12407730, 12371...
1         1  [12406904, 12658512, 12407154, 12407730, 12371...
2         2  [11660064, 11714456, 12407198, 11660024, 11660...
3         3  [12360440, 12371354, 12407298, 12407522, 12407...
4         4  [11659934, 12437468, 12437168, 12657448, 12407...

In [246]:
final_pred.head()

   UserId_x                                          productid
0         0  [11659624, 12658512, 12407154, 12407730, 12371...
1         1  [12406904, 12658512, 12407154, 12407730, 12371...
2         2  [11660064, 11714456, 12407198, 11660024, 11660...
3         3  [12360440, 12371354, 12407298, 12407522, 12407...
4         4  [11659934, 12437468, 12437168, 12657448, 12407...

In [247]:
top10

[12658512,
 12407154,
 12407730,
 12371378,
 11659624,
 12407400,
 12406904,
 12407742,
 12407398,
 12360424]

In [248]:
pd.read_csv('capillary_nearest_neighbour.csv').head()

   UserId                                       product_list
0       2  [11660064, 13653526, 13653524, 12658512, 12407...
1      28  [11659838, 12360404, 12407652, 12407706, 13039...
2      36  [11460916, 12360448, 12407648, 11360860, 11480...
3      38  [11659712, 11659798, 12406972, 11659808, 12407...
4      41  [11659236, 11659232, 12658512, 12407154, 12407...

In [317]:
final_pred = final_pred.rename({'UserId_x':'UserId','productid':'product_list'},axis=1)

In [318]:
final_pred.merge(test, on= 'UserId', how='inner').to_csv('capillary_nearest_neighbour_image_add_feat.csv',index=False)

In [251]:
#final_pred.to_csv('capillary_nearest_neighbour.csv',index=False)

In [252]:
sample.head()

   UserId                                       product_list
0       2  [12658382, 12658382, 12658382, 12658382, 12658...
1      28  [12658382, 12658382, 12658382, 12658382, 12658...
2      36  [12658382, 12658382, 12658382, 12658382, 12658...
3      38  [12658382, 12658382, 12658382, 12658382, 12658...
4      41  [12658382, 12658382, 12658382, 12658382, 12658...

In [112]:
#collab_pred = total_df.apply(lambda x: algo.predict(x[0],x[1]),axis=1)

In [113]:
# reader = Reader(rating_scale=(0.0, 1.0))
# data = Dataset.load_from_df(train_agg[['UserId', 'productid', 'Quantity']], reader)
# data.split(n_folds=3) # 5-fold cross validation
# algo = SVD(5) # matrix factorization using 10 latent factors
# evaluate(algo, data, measures=['MAE']) # check validation scores

In [114]:
# trainset = data.build_full_trainset() # train on full training set
# algo.train(trainset)

In [33]:
train['Quantity'].describe()

count    132551.000000
mean          1.013670
std           0.152367
min           1.000000
25%           1.000000
50%           1.000000
75%           1.000000
max          12.000000
Name: Quantity, dtype: float64

In [20]:
train['productid'].value_counts()

12658512    881
12407154    640
12407730    521
12371378    468
11659624    390
12407400    382
12406904    378
12407742    372
12407398    370
12360424    363
12406886    362
11659236    356
12360426    354
12407382    352
12360438    337
13039848    322
12657692    321
12407132    318
12407042    317
11659626    314
12658406    313
12371376    312
12973004    312
11659538    308
12696914    293
12657532    293
12406888    292
13039516    278
12407390    272
13038648    271
           ...
11147300      1
12437214      1
12436412      1
11149974      1
13039402      1
12437044      1
11714468      1
13039356      1
13650136      1
12936684      1
13039006      1
12936556      1
13039612      1
13650264      1
12436542      1
12406960      1
11360904      1
11150146      1
12423436      1
11481030      1
11481106      1
12407646      1
12423446      1
12936664      1
12423476      1
11460984      1
13653556      1
12445186      1
12436742      1
11659280      1
Name: productid, Length: 3026, dtype: int64

In [18]:
train['UserId'].value_counts()

26784    42819
23020      332
2110       244
4420       206
19078      194
12964      190
9697       182
2777       179
11566      174
6620       174
22390      172
23447      161
10839      155
16313      149
23221      149
1699       141
16585      140
26866      138
18368      127
21548      108
13650      107
2067       107
22761       95
9230        95
8998        86
13457       85
21361       84
1874        83
6104        82
6801        82
         ...
2116         1
2372         1
14658        1
8513         1
20687        1
16589        1
18636        1
6342         1
197          1
2244         1
14530        1
18508        1
24649        1
6214         1
12355        1
16067        1
14402        1
24527        1
14274        1
24399        1
18252        1
5958         1
3909         1
1860         1
16195        1
14146        1
20173        1
26312        1
3781         1
0            1
Name: UserId, Length: 27778, dtype: int64