In [1]:
import pandas as pd
from surprise import Reader, Dataset
from surprise import SVD, evaluate
from surprise import NMF
import matplotlib.pyplot as plt
import math
import numpy as np

In [2]:
from sklearn.neighbors import NearestNeighbors
from sklearn.preprocessing import StandardScaler

In [3]:
from keras.models import Model
from keras.applications.inception_v3 import InceptionV3
from keras.models import Model
from keras.layers.convolutional import Conv2D, MaxPooling2D, UpSampling2D
from keras.layers.convolutional import Conv3D, MaxPooling3D, UpSampling3D
from keras.models import Input
from os import listdir
from keras.preprocessing.image import load_img
from keras.preprocessing.image import img_to_array

Using TensorFlow backend.
/anaconda3/lib/python3.7/importlib/_bootstrap.py:219: RuntimeWarning: compiletime version 3.6 of module 'tensorflow.python.framework.fast_tensor_util' does not match runtime version 3.7
  return f(*args, **kwds)

In [4]:
from sklearn.preprocessing import OneHotEncoder

In [5]:
train = pd.read_csv('train.csv')

In [6]:
product = pd.read_csv('product_attributes.csv')

In [7]:
test = pd.read_csv('../test_nFNPSyV.csv')

In [8]:
sample = pd.read_csv('../sample_submission_qfCnaKZ.csv')

In [9]:
train.head()

   UserId  productid  Quantity OrderDate
0   18075   12322648         1  01/04/18
1    6820   12371370         1  01/04/18
2    6820   12973004         1  01/04/18
3    6820   12657560         1  01/04/18
4    6820   11659914         1  01/04/18

In [10]:
products = list(product['productid'].unique())

In [11]:
#selectedlayer = "..."
#base_modelv3 = InceptionV3(weights='imagenet')
#model= Model(inputs=base_modelv3.input,  outputs=base_modelv3.get_layer(selectedlayer).output)

In [12]:
images = []

def preprocess_input(x):
    x /= 255.
    x -= 0.5
    x *= 2.
    return x

for i in products:
    image = load_img('./images/{}.jpg'.format(i), target_size=(28, 28))
    # convert the image pixels to a numpy array
    image = img_to_array(image)
    # reshape data for the model
    image = np.expand_dims(image, axis=0)
    # prepare the image for the  model
    image = preprocess_input(image)
    #image = list(image.reshape(192))
    
    images.append(image)

In [13]:
images[0].shape

(1, 28, 28, 3)

In [14]:
len(products)

3015

In [15]:
len(images)

3015

In [17]:
#image_features = pd.DataFrame(images)

In [18]:
#image_features.head()

In [19]:
#image_features['productid'] = products

In [20]:
images1 = np.array(images).reshape(3015,28,28,3)

In [21]:
input_img = Input(shape=(28,28,3))
x = Conv2D(16,(3,3), activation='relu', padding='same')(input_img)
x = MaxPooling2D((2,2), padding='same')(x)
x = Conv2D(8,(3,3), activation='relu', padding='same')(x)
x = MaxPooling2D((2,2), padding='same')(x)
x = Conv2D(8,(3,3), activation='relu', padding='same')(x)
encoded = MaxPooling2D((2,2), padding='same', name='encoder')(x)

x = Conv2D(8, (3, 3), activation='relu', padding='same')(encoded)
x = UpSampling2D((2, 2))(x)
x = Conv2D(8, (3, 3), activation='relu', padding='same')(x)
x = UpSampling2D((2, 2))(x)
x = Conv2D(16, (3, 3), activation='relu')(x)
x = UpSampling2D((2, 2))(x)
decoded = Conv2D(3, (3, 3), activation='sigmoid', padding='same')(x)

autoencoder = Model(input_img, decoded)
autoencoder.compile(optimizer='adam', loss='mse')

In [22]:
encoder = Model(inputs=autoencoder.input, outputs=autoencoder.get_layer('encoder').output)

In [23]:
autoencoder.fit(images1,images1,epochs=10,batch_size=64)

Epoch 1/10
3015/3015 [==============================] - 3s 886us/step - loss: 0.3180
Epoch 2/10
3015/3015 [==============================] - 2s 829us/step - loss: 0.1853
Epoch 3/10
3015/3015 [==============================] - 2s 820us/step - loss: 0.1554
Epoch 4/10
3015/3015 [==============================] - 2s 780us/step - loss: 0.1475
Epoch 5/10
3015/3015 [==============================] - 2s 771us/step - loss: 0.1433
Epoch 6/10
3015/3015 [==============================] - 2s 786us/step - loss: 0.1388
Epoch 7/10
3015/3015 [==============================] - 2s 750us/step - loss: 0.1357
Epoch 8/10
3015/3015 [==============================] - 2s 765us/step - loss: 0.1329
Epoch 9/10
3015/3015 [==============================] - 2s 774us/step - loss: 0.1312
Epoch 10/10
3015/3015 [==============================] - 2s 809us/step - loss: 0.1298

In [24]:
encode_images= encoder.predict(images1).reshape(3015,128)

In [25]:
image_features_encoded = pd.DataFrame(encode_images)

In [26]:
image_features_encoded['productid'] = products

In [27]:
image_features_encoded.head()

,0,1,2,3,4,5,6,7,8,9,...,119,120,121,122,123,124,125,126,127,productid
0,4.094417,0.994277,0.221732,0.150921,1.850685,2.895032,10.523665,5.367269,2.462985,2.099633,...,4.639795,1.141831,0.0,0.0,0.0,4.979157,3.725201,6.111584,2.192256,11145600
1,4.220486,1.176078,0.208121,0.159641,1.895842,3.041027,10.117416,5.373601,2.485535,2.213668,...,4.534923,1.132205,0.0,0.0,0.0,4.989626,3.718115,6.115282,2.178788,11145602
2,4.136118,1.026037,0.270119,0.150492,2.282621,2.771910,11.025008,5.341788,2.465155,2.196455,...,4.609075,1.156786,0.0,0.0,0.0,4.988648,3.731289,6.141088,2.185293,11145612
3,4.193300,1.220027,0.242752,0.139617,2.219221,2.885259,10.783181,5.373925,2.293022,2.715505,...,4.416644,1.183449,0.0,0.0,0.0,4.992047,3.755720,6.147183,2.182006,11145614
4,4.306152,1.141776,0.218408,0.155050,1.872357,2.903575,10.613829,5.369379,3.395743,2.170629,...,5.889984,1.185390,0.0,0.0,0.0,4.972814,3.748846,6.131931,2.191781,11145620

In [28]:
total_quantity = train['Quantity'].sum()

In [29]:
product_sold = train.groupby('productid')['Quantity'].sum().reset_index()

In [30]:
product_sold['weight'] = product_sold['Quantity']/total_quantity

In [31]:
product_sold = product_sold.drop('Quantity', axis=1)

In [32]:
product_sold.shape

(3026, 2)

In [33]:
baseline = train.groupby('productid')['UserId'].count().reset_index().sort_values('UserId',ascending=False).head(10)

In [34]:
top10 =  baseline['productid'].tolist()

In [35]:
chh = train.groupby('UserId').count().reset_index()

In [36]:
train.head()

   UserId  productid  Quantity OrderDate
0   18075   12322648         1  01/04/18
1    6820   12371370         1  01/04/18
2    6820   12973004         1  01/04/18
3    6820   12657560         1  01/04/18
4    6820   11659914         1  01/04/18

In [37]:
product.head()

   productid attribute_name  attributevalue
0   11145600            Fit              37
1   11145600  Sleeve Length              23
2   11145600         Fabric              16
3   11145600          Color              25
4   11145600       Neckline              51

In [38]:
product_wide = product.pivot_table(index='productid',columns='attribute_name',values='attributevalue').reset_index()

In [39]:
image_features_encoded.head()

,0,1,2,3,4,5,6,7,8,9,...,119,120,121,122,123,124,125,126,127,productid
0,4.094417,0.994277,0.221732,0.150921,1.850685,2.895032,10.523665,5.367269,2.462985,2.099633,...,4.639795,1.141831,0.0,0.0,0.0,4.979157,3.725201,6.111584,2.192256,11145600
1,4.220486,1.176078,0.208121,0.159641,1.895842,3.041027,10.117416,5.373601,2.485535,2.213668,...,4.534923,1.132205,0.0,0.0,0.0,4.989626,3.718115,6.115282,2.178788,11145602
2,4.136118,1.026037,0.270119,0.150492,2.282621,2.771910,11.025008,5.341788,2.465155,2.196455,...,4.609075,1.156786,0.0,0.0,0.0,4.988648,3.731289,6.141088,2.185293,11145612
3,4.193300,1.220027,0.242752,0.139617,2.219221,2.885259,10.783181,5.373925,2.293022,2.715505,...,4.416644,1.183449,0.0,0.0,0.0,4.992047,3.755720,6.147183,2.182006,11145614
4,4.306152,1.141776,0.218408,0.155050,1.872357,2.903575,10.613829,5.369379,3.395743,2.170629,...,5.889984,1.185390,0.0,0.0,0.0,4.972814,3.748846,6.131931,2.191781,11145620

In [40]:
product_wide = product_wide.merge(image_features_encoded, on='productid')

In [41]:
product_wide.head()

,productid,Category,Collection,Color,Fabric,Fit,Material,Neckline,Season,Sleeve Length,...,118,119,120,121,122,123,124,125,126,127
0,11139192,1.0,NaN,41.0,2.0,0.0,NaN,NaN,42.0,NaN,...,9.746375,4.911317,1.159197,0.0,0.0,0.0,4.993309,3.730699,6.143026,2.172697
1,11139194,1.0,NaN,25.0,2.0,0.0,NaN,NaN,42.0,NaN,...,8.768444,6.458517,1.193308,0.0,0.0,0.0,5.007014,3.746132,6.187249,2.152506
2,11139524,1.0,NaN,95.0,16.0,14.0,NaN,4.0,42.0,23.0,...,8.722144,5.540466,1.266984,0.0,0.0,0.0,5.071997,3.819778,6.249762,2.096569
3,11139560,1.0,NaN,41.0,2.0,14.0,NaN,4.0,42.0,127.0,...,9.355738,4.744660,1.143350,0.0,0.0,0.0,4.985752,3.730562,6.121748,2.182537
4,11139588,1.0,NaN,25.0,58.0,0.0,NaN,NaN,42.0,NaN,...,7.861685,4.838794,1.178572,0.0,0.0,0.0,5.050524,3.806188,6.179358,2.183246

In [42]:
product_wide = product_wide.merge(product_sold, on= 'productid',how='inner')

In [43]:
train_agg = train.groupby(['UserId','productid'])['Quantity'].sum().reset_index()

In [44]:
train_agg.describe()

             UserId     productid      Quantity
count  74915.000000  7.491500e+04  74915.000000
mean   14493.035173  1.232877e+07      1.793539
std     8248.096978  5.583793e+05      4.705072
min        0.000000  1.113919e+07      1.000000
25%     7354.500000  1.165994e+07      1.000000
50%    14580.000000  1.240746e+07      1.000000
75%    21813.500000  1.265833e+07      1.000000
max    27777.000000  1.412948e+07    275.000000

In [45]:
train_agg.head()

   UserId  productid  Quantity
0       0   11659624         1
1       1   12406904         1
2       2   11660064         1
3       3   12360440         3
4       3   12371354         3

In [46]:
product_wide.head()

,productid,Category,Collection,Color,Fabric,Fit,Material,Neckline,Season,Sleeve Length,...,119,120,121,122,123,124,125,126,127,weight
0,11139192,1.0,NaN,41.0,2.0,0.0,NaN,NaN,42.0,NaN,...,4.911317,1.159197,0.0,0.0,0.0,4.993309,3.730699,6.143026,2.172697,0.000186
1,11139194,1.0,NaN,25.0,2.0,0.0,NaN,NaN,42.0,NaN,...,6.458517,1.193308,0.0,0.0,0.0,5.007014,3.746132,6.187249,2.152506,0.000186
2,11139524,1.0,NaN,95.0,16.0,14.0,NaN,4.0,42.0,23.0,...,5.540466,1.266984,0.0,0.0,0.0,5.071997,3.819778,6.249762,2.096569,0.000804
3,11139560,1.0,NaN,41.0,2.0,14.0,NaN,4.0,42.0,127.0,...,4.744660,1.143350,0.0,0.0,0.0,4.985752,3.730562,6.121748,2.182537,0.000074
4,11139588,1.0,NaN,25.0,58.0,0.0,NaN,NaN,42.0,NaN,...,4.838794,1.178572,0.0,0.0,0.0,5.050524,3.806188,6.179358,2.183246,0.000022

In [47]:
final_train = train_agg.merge(product_wide, on='productid', how='left').fillna(-1)

In [48]:
final_train['UserId'].nunique()

27778

In [49]:
for i in final_train.columns:
    print(i,final_train[i].nunique())

UserId 27778
productid 3026
Quantity 108
Category 6
Collection 22
Color 134
Fabric 35
Fit 8
Material 5
Neckline 14
Season 9
Sleeve Length 16
0 2961
1 3002
2 2959
3 2957
4 3001
5 3001
6 3001
7 2995
8 2892
9 3001
10 3
11 850
12 3001
13 3001
14 3001
15 3002
16 2863
17 3002
18 9
19 1505
20 3000
21 3002
22 3000
23 3001
24 2711
25 2999
26 2
27 187
28 2997
29 3002
30 2997
31 3000
32 2996
33 2634
34 2961
35 705
36 3002
37 3000
38 3000
39 2999
40 2989
41 2982
42 42
43 1013
44 3002
45 3002
46 3001
47 3002
48 2992
49 2822
50 40
51 2334
52 2943
53 3002
54 3001
55 3001
56 2755
57 3001
58 2
59 192
60 2992
61 3001
62 3000
63 3002
64 2965
65 2328
66 2967
67 701
68 3001
69 3001
70 3002
71 2999
72 2971
73 2985
74 102
75 679
76 3002
77 3001
78 3002
79 3002
80 2873
81 2636
82 33
83 2118
84 2710
85 3002
86 3001
87 3002
88 2662
89 3001
90 2
91 228
92 2992
93 3002
94 2998
95 3001
96 2871
97 174
98 2978
99 2975
100 3002
101 2999
102 3000
103 2971
104 2641
105 876
106 868
107 2689
108 3002
109 3002
110 3002
111 3002
112 2816
113 401
114 1663
115 2833
116 3001
117 3002
118 3001
119 3000
120 2702
121 315
122 5
123 238
124 2989
125 2993
126 2850
127 2990
weight 240

In [50]:
final_train = pd.get_dummies(final_train,columns = ['Category','Fit','Material','Season','Collection'])

In [51]:
final_user_mean = final_train.groupby('UserId').mean().reset_index()

In [52]:
final_user_mean = final_user_mean.drop('productid',axis=1)

In [53]:
final_user_mean.head()

,UserId,Quantity,Color,Fabric,Neckline,Sleeve Length,0,1,2,3,...,Collection_97.0,Collection_101.0,Collection_105.0,Collection_109.0,Collection_110.0,Collection_135.0,Collection_143.0,Collection_168.0,Collection_178.0,Collection_212.0
0,0,1.0,32.000000,27.000000,8.0,3.000000,4.195914,1.257853,0.322902,0.183609,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
1,1,1.0,18.000000,2.000000,8.0,3.000000,3.907451,0.816400,0.576612,0.334741,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
2,2,1.0,84.000000,55.000000,4.0,23.000000,4.198674,1.178635,0.201583,0.155827,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
3,3,3.0,36.833333,29.333333,3.0,1.666667,3.684750,1.293983,0.411151,0.140957,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
4,4,1.0,31.500000,69.000000,1.5,1.000000,4.055511,1.048939,0.368861,0.142415,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0

In [54]:
final_user_mean.shape

(27778, 185)

In [55]:
scaler = StandardScaler()

In [56]:
#scaler.fit_transform(final_user_mean.iloc[:,1:])

In [57]:
final_user_mean.shape

(27778, 185)

In [58]:
#collab_pred = total_df.apply(lambda x: algo.predict(x[0],x[1]),axis=1)

In [59]:
nbrs = NearestNeighbors(n_neighbors=30, algorithm='auto',metric='cosine').fit(scaler.fit_transform(final_user_mean.iloc[:,1:]))

/anaconda3/lib/python3.7/site-packages/sklearn/preprocessing/data.py:617: DataConversionWarning: Data with input dtype float32, float64 were all converted to float64 by StandardScaler.
  return self.partial_fit(X, y)
/anaconda3/lib/python3.7/site-packages/sklearn/base.py:462: DataConversionWarning: Data with input dtype float32, float64 were all converted to float64 by StandardScaler.
  return self.fit(X, **fit_params).transform(X)

In [60]:
distances, indices = nbrs.kneighbors(scaler.fit_transform(final_user_mean.iloc[:,1:]))

/anaconda3/lib/python3.7/site-packages/sklearn/preprocessing/data.py:617: DataConversionWarning: Data with input dtype float32, float64 were all converted to float64 by StandardScaler.
  return self.partial_fit(X, y)
/anaconda3/lib/python3.7/site-packages/sklearn/base.py:462: DataConversionWarning: Data with input dtype float32, float64 were all converted to float64 by StandardScaler.
  return self.fit(X, **fit_params).transform(X)

In [61]:
#distances

In [62]:
indices.shape

(27778, 30)

In [63]:
nearest_n = pd.DataFrame(indices)

In [64]:
nearest_n['UserId'] = nearest_n.index

In [65]:
nearest_n.head()

,0,1,2,3,4,5,6,7,8,9,...,21,22,23,24,25,26,27,28,29,UserId
0,2585,22179,20486,17813,10809,517,3382,18362,26951,11328,...,27460,23480,10420,8063,8474,356,25880,26712,21695,0
1,7602,9810,15897,2223,11106,10189,8830,30,12710,2714,...,20206,11667,4033,4097,4205,4647,2351,6692,2146,1
2,17556,3057,13554,12420,10630,2819,16608,7661,27499,5577,...,3563,26746,8638,4901,11209,11292,10658,14682,12868,2
3,3,21421,12335,23438,5615,19459,18128,15107,734,20087,...,4906,7388,18632,10839,26501,11762,1978,21565,18921,3
4,4,12231,19833,25383,17326,1707,26545,12921,11777,10765,...,12412,9389,6121,19895,8631,482,21528,1458,10132,4

In [66]:
nearest_n_long = nearest_n.melt(id_vars='UserId').sort_values(['UserId','variable'])

In [67]:
final_merged = nearest_n_long.merge(train_agg,left_on=['value'], right_on='UserId').sort_values(['UserId_x','variable'])

In [68]:
check = final_merged.groupby('UserId_x')['productid'].nunique().reset_index()

In [69]:
top10

[12658512,
 12407154,
 12407730,
 12371378,
 11659624,
 12407400,
 12406904,
 12407742,
 12407398,
 12360424]

In [70]:
final_merged.head()

     UserId_x variable  value  UserId_y  productid  Quantity
0           0        0   2585      2585   11659624         1
46          0        1  22179     22179   11659624         1
101         0        2  20486     20486   11659624         1
157         0        3  17813     17813   11659624         1
213         0        4  10809     10809   11659624         1

In [79]:
final_merged.shape

(1890781, 6)

In [74]:
user_unique_prod = train.groupby('UserId')['productid'].unique().reset_index()

In [75]:
user_unique_prod.shape

(27778, 2)

In [77]:
final_merged1 = final_merged.drop(['UserId_y'],axis=1)

In [80]:
final_merged1 = final_merged1.merge(user_unique_prod, left_on='UserId_x', right_on= 'UserId', how='inner')

In [82]:
final_merged1.head()

   UserId_x variable  value  productid_x  Quantity  UserId productid_y
0         0        0   2585     11659624         1       0  [11659624]
1         0        1  22179     11659624         1       0  [11659624]
2         0        2  20486     11659624         1       0  [11659624]
3         0        3  17813     11659624         1       0  [11659624]
4         0        4  10809     11659624         1       0  [11659624]

In [91]:
def remove_same_products(row):
    if row['productid_x'] in row['productid_y']:
        return None
    else:
        return row['productid_x']

In [ ]:
final_merged1['productid_x'] = final_merged1.apply(remove_same_products,axis=1)

In [97]:
final_merged1.dropna()['UserId_x'].nunique()

24883

In [ ]:
final_merged1

In [76]:
final_merged.shape

(1890781, 6)

In [98]:
final_pred = final_merged1.groupby('UserId_x')['productid_x'].unique().reset_index()

In [99]:
final_pred.head()

   UserId_x                                        productid_x
0         0                                              [nan]
1         1                                              [nan]
2         2  [nan, 11714456.0, 12407198.0, 11481104.0, 1240...
3         3  [nan, 11659530.0, 11659780.0, 11714538.0, 1236...
4         4  [nan, 12407010.0, 12437314.0, 12437472.0, 1243...

In [ ]:
final_pred['productid_x'].apply(lambda x:[i for i in x if str(x) != 'nan'])

In [337]:
top10[:2]

[12658512, 12407154]

In [338]:
def append_list(row):
    ct=0
    row = list(row)
    if len(row) < 10:
        while(len(row)<10):
            row.append(top10[ct])
            ct = ct + 1
        return row
    else:
        return row[:10]

In [339]:
final_pred['productid'] = final_pred['productid'].apply(append_list)

In [340]:
final_pred.head()

   UserId_x                                          productid
0         0  [11659624, 12658512, 12407154, 12407730, 12371...
1         1  [12406904, 12658512, 12407154, 12407730, 12371...
2         2  [11660064, 11481104, 12407198, 11714456, 12407...
3         3  [12360440, 12371354, 12407298, 12407522, 12407...
4         4  [11659934, 12437468, 12407010, 12437314, 12437...

In [196]:
final_pred.head()

   UserId_x                                          productid
0         0  [11659624, 12658512, 12407154, 12407730, 12371...
1         1  [12406904, 12658512, 12407154, 12407730, 12371...
2         2  [11660064, 11481104, 12407198, 11714456, 12371...
3         3  [12360440, 12371354, 12407298, 12407522, 12407...
4         4  [11659934, 12437468, 12407010, 11361056, 12360...

In [197]:
top10

[12658512,
 12407154,
 12407730,
 12371378,
 11659624,
 12407400,
 12406904,
 12407742,
 12407398,
 12360424]

In [76]:
pd.read_csv('capillary_nearest_neighbour.csv').head()

   UserId                                       product_list
0       2  [11660064, 13653526, 13653524, 12658512, 12407...
1      28  [11659838, 12360404, 12407652, 12407706, 13039...
2      36  [11460916, 12360448, 12407648, 11360860, 11480...
3      38  [11659712, 11659798, 12406972, 11659808, 12407...
4      41  [11659236, 11659232, 12658512, 12407154, 12407...

In [341]:
final_pred = final_pred.rename({'UserId_x':'UserId','productid':'product_list'},axis=1)

In [342]:
final_pred.merge(test, on= 'UserId', how='inner').to_csv('capillary_nearest_neighbour_image128_encode_cosine_.csv',index=False)

In [251]:
#final_pred.to_csv('capillary_nearest_neighbour.csv',index=False)

In [252]:
sample.head()

   UserId                                       product_list
0       2  [12658382, 12658382, 12658382, 12658382, 12658...
1      28  [12658382, 12658382, 12658382, 12658382, 12658...
2      36  [12658382, 12658382, 12658382, 12658382, 12658...
3      38  [12658382, 12658382, 12658382, 12658382, 12658...
4      41  [12658382, 12658382, 12658382, 12658382, 12658...

In [112]:
#collab_pred = total_df.apply(lambda x: algo.predict(x[0],x[1]),axis=1)

In [113]:
# reader = Reader(rating_scale=(0.0, 1.0))
# data = Dataset.load_from_df(train_agg[['UserId', 'productid', 'Quantity']], reader)
# data.split(n_folds=3) # 5-fold cross validation
# algo = SVD(5) # matrix factorization using 10 latent factors
# evaluate(algo, data, measures=['MAE']) # check validation scores

In [114]:
# trainset = data.build_full_trainset() # train on full training set
# algo.train(trainset)

In [33]:
train['Quantity'].describe()

count    132551.000000
mean          1.013670
std           0.152367
min           1.000000
25%           1.000000
50%           1.000000
75%           1.000000
max          12.000000
Name: Quantity, dtype: float64

In [20]:
train['productid'].value_counts()

12658512    881
12407154    640
12407730    521
12371378    468
11659624    390
12407400    382
12406904    378
12407742    372
12407398    370
12360424    363
12406886    362
11659236    356
12360426    354
12407382    352
12360438    337
13039848    322
12657692    321
12407132    318
12407042    317
11659626    314
12658406    313
12371376    312
12973004    312
11659538    308
12696914    293
12657532    293
12406888    292
13039516    278
12407390    272
13038648    271
           ...
11147300      1
12437214      1
12436412      1
11149974      1
13039402      1
12437044      1
11714468      1
13039356      1
13650136      1
12936684      1
13039006      1
12936556      1
13039612      1
13650264      1
12436542      1
12406960      1
11360904      1
11150146      1
12423436      1
11481030      1
11481106      1
12407646      1
12423446      1
12936664      1
12423476      1
11460984      1
13653556      1
12445186      1
12436742      1
11659280      1
Name: productid, Length: 3026, dtype: int64

In [18]:
train['UserId'].value_counts()

26784    42819
23020      332
2110       244
4420       206
19078      194
12964      190
9697       182
2777       179
11566      174
6620       174
22390      172
23447      161
10839      155
16313      149
23221      149
1699       141
16585      140
26866      138
18368      127
21548      108
13650      107
2067       107
22761       95
9230        95
8998        86
13457       85
21361       84
1874        83
6104        82
6801        82
         ...
2116         1
2372         1
14658        1
8513         1
20687        1
16589        1
18636        1
6342         1
197          1
2244         1
14530        1
18508        1
24649        1
6214         1
12355        1
16067        1
14402        1
24527        1
14274        1
24399        1
18252        1
5958         1
3909         1
1860         1
16195        1
14146        1
20173        1
26312        1
3781         1
0            1
Name: UserId, Length: 27778, dtype: int64