In [1]:
import pandas as pd
from surprise import Reader, Dataset
from surprise import SVD, evaluate
from surprise import NMF
import matplotlib.pyplot as plt
import math
import numpy as np

In [2]:
from sklearn.neighbors import NearestNeighbors
from sklearn.preprocessing import StandardScaler

In [3]:
from keras.models import Model
from keras.applications.inception_v3 import InceptionV3
from keras.models import Model
from keras.layers.convolutional import Conv2D, MaxPooling2D, UpSampling2D
from keras.layers.convolutional import Conv3D, MaxPooling3D, UpSampling3D
from keras.models import Input
from os import listdir
from keras.preprocessing.image import load_img
from keras.preprocessing.image import img_to_array

Using TensorFlow backend.
/anaconda3/lib/python3.7/importlib/_bootstrap.py:219: RuntimeWarning: compiletime version 3.6 of module 'tensorflow.python.framework.fast_tensor_util' does not match runtime version 3.7
  return f(*args, **kwds)

In [5]:
train = pd.read_csv('train.csv')

In [6]:
product = pd.read_csv('product_attributes.csv')

In [7]:
test = pd.read_csv('../test_nFNPSyV.csv')

In [8]:
sample = pd.read_csv('../sample_submission_qfCnaKZ.csv')

In [9]:
train.head()

   UserId  productid  Quantity OrderDate
0   18075   12322648         1  01/04/18
1    6820   12371370         1  01/04/18
2    6820   12973004         1  01/04/18
3    6820   12657560         1  01/04/18
4    6820   11659914         1  01/04/18

In [10]:
train['OrderDate'] = pd.to_datetime(train['OrderDate'])

In [11]:
user_transactions = train.groupby('UserId')['Quantity'].sum().reset_index()

user_transactions = user_transactions.rename({'Quantity':'User_transactions'},axis=1)

In [13]:
user_transactions.head()

   UserId  User_transactions
0       0                  1
1       1                  1
2       2                  1
3       3                 18
4       4                  2

In [14]:
train = train.sort_values(['UserId','OrderDate'])

In [16]:
train['days_diff'] =  train.groupby(['UserId'])['OrderDate'].diff().fillna(0)

In [17]:
train.head()

        UserId  productid  Quantity  OrderDate days_diff
21155        0   11659624         1 2018-05-16    0 days
100672       1   12406904         1 2018-08-20    0 days
27942        2   11660064         1 2018-05-06    0 days
66578        3   12658228         1 2018-07-14    0 days
66579        3   12360440         1 2018-07-14    0 days

In [18]:
train['days_diff'] = train['days_diff'].dt.days

In [19]:
user_days = train.groupby('UserId')['days_diff'].mean().reset_index()

In [20]:
user_days.head()

   UserId  days_diff
0       0   0.000000
1       1   0.000000
2       2   0.000000
3       3   0.055556
4       4  22.000000

In [21]:
# user transactions to same df as avg time delta between transactions of users
user_days['User_transactions'] = user_transactions['User_transactions'].values

In [22]:
train = train.drop('days_diff',axis=1)

In [23]:
products = list(product['productid'].unique())

In [156]:
images = []
# reading all images
def preprocess_input(x):
    x /= 255.
    x -= 0.5
    x *= 2.
    return x

for i in products:
    image = load_img('./images/{}.jpg'.format(i), target_size=(28, 28))
    # convert the image pixels to a numpy array
    image = img_to_array(image)
    # reshape data for the model
    image = np.expand_dims(image, axis=0)
    # prepare the image for the  model
    image = preprocess_input(image)
    #image = list(image.reshape(192))
    
    images.append(image)

In [26]:
images[0].shape

(1, 28, 28, 3)

In [29]:
images1 = np.array(images).reshape(3015,28,28,3)

In [30]:
# training auto encoder to get better representation of image feature
input_img = Input(shape=(28,28,3))
x = Conv2D(16,(3,3), activation='relu', padding='same')(input_img)
x = MaxPooling2D((2,2), padding='same')(x)
x = Conv2D(8,(3,3), activation='relu', padding='same')(x)
x = MaxPooling2D((2,2), padding='same')(x)
x = Conv2D(8,(3,3), activation='relu', padding='same')(x)
encoded = MaxPooling2D((2,2), padding='same', name='encoder')(x)

x = Conv2D(8, (3, 3), activation='relu', padding='same')(encoded)
x = UpSampling2D((2, 2))(x)
x = Conv2D(8, (3, 3), activation='relu', padding='same')(x)
x = UpSampling2D((2, 2))(x)
x = Conv2D(16, (3, 3), activation='relu')(x)
x = UpSampling2D((2, 2))(x)
decoded = Conv2D(3, (3, 3), activation='sigmoid', padding='same')(x)

autoencoder = Model(input_img, decoded)
autoencoder.compile(optimizer='adam', loss='mse')

In [31]:
encoder = Model(inputs=autoencoder.input, outputs=autoencoder.get_layer('encoder').output)

In [32]:
autoencoder.fit(images1,images1,epochs=10,batch_size=64)

Epoch 1/10
3015/3015 [==============================] - 3s 1ms/step - loss: 0.2830
Epoch 2/10
3015/3015 [==============================] - 2s 816us/step - loss: 0.1667
Epoch 3/10
3015/3015 [==============================] - 3s 836us/step - loss: 0.1496
Epoch 4/10
3015/3015 [==============================] - 3s 858us/step - loss: 0.1423
Epoch 5/10
3015/3015 [==============================] - 3s 835us/step - loss: 0.1361
Epoch 6/10
3015/3015 [==============================] - 3s 840us/step - loss: 0.1317
Epoch 7/10
3015/3015 [==============================] - 3s 884us/step - loss: 0.1288
Epoch 8/10
3015/3015 [==============================] - 3s 885us/step - loss: 0.1276
Epoch 9/10
3015/3015 [==============================] - 3s 888us/step - loss: 0.1250
Epoch 10/10
3015/3015 [==============================] - 3s 868us/step - loss: 0.1238

In [33]:
encode_images= encoder.predict(images1).reshape(3015,128)

In [34]:
image_features_encoded = pd.DataFrame(encode_images)

image_features_encoded['productid'] = products

In [36]:
image_features_encoded.head()

,0,1,2,3,4,5,6,7,8,9,...,119,120,121,122,123,124,125,126,127,productid
0,0.000000,0.0,2.137546,3.523025,4.611123,5.945545,0.070544,1.583210,0.800346,0.0,...,1.600017,0.0,2.314948,0.0,3.402112,2.352793,3.705026,2.545706,1.126399,11145600
1,0.185421,0.0,2.132077,3.494496,4.665393,5.814270,0.253228,1.623920,1.101802,0.0,...,1.598721,0.0,2.186554,0.0,3.411325,2.156095,3.653809,2.733771,1.053551,11145602
2,0.147965,0.0,2.156131,3.658700,4.925179,6.015566,0.370619,1.747968,0.906306,0.0,...,1.666143,0.0,2.234108,0.0,3.432867,2.172713,3.701639,2.697795,1.087301,11145612
3,0.119011,0.0,2.146159,3.516220,4.823935,6.032888,0.313591,1.731640,1.049462,0.0,...,1.597732,0.0,2.252601,0.0,3.451104,2.199149,3.714535,2.673719,1.101310,11145614
4,0.051007,0.0,2.136632,3.496749,4.710228,6.075861,0.187204,1.718356,0.763491,0.0,...,1.572207,0.0,2.357469,0.0,3.484884,2.255583,3.802184,2.612778,1.158466,11145620

In [37]:
# creating normalized quantity of products sold feature
total_quantity = train['Quantity'].sum()

product_sold = train.groupby('productid')['Quantity'].sum().reset_index()

product_sold['weight'] = product_sold['Quantity']/total_quantity

product_sold = product_sold.drop('Quantity', axis=1)

In [41]:
product_sold.shape

(3026, 2)

In [42]:
baseline = train.groupby('productid')['UserId'].count().reset_index().sort_values('UserId',ascending=False).head(10)

In [43]:
top10 =  baseline['productid'].tolist()

In [45]:
train.head()

        UserId  productid  Quantity  OrderDate
21155        0   11659624         1 2018-05-16
100672       1   12406904         1 2018-08-20
27942        2   11660064         1 2018-05-06
66578        3   12658228         1 2018-07-14
66579        3   12360440         1 2018-07-14

In [46]:
product.head()

   productid attribute_name  attributevalue
0   11145600            Fit              37
1   11145600  Sleeve Length              23
2   11145600         Fabric              16
3   11145600          Color              25
4   11145600       Neckline              51

In [47]:
product_wide = product.pivot_table(index='productid',columns='attribute_name',values='attributevalue').reset_index()

In [49]:
product_wide = product_wide.merge(image_features_encoded, on='productid')

In [50]:
product_wide.head()

,productid,Category,Collection,Color,Fabric,Fit,Material,Neckline,Season,Sleeve Length,...,118,119,120,121,122,123,124,125,126,127
0,11139192,1.0,NaN,41.0,2.0,0.0,NaN,NaN,42.0,NaN,...,1.075016,1.476201,0.0,2.180856,0.0,3.394458,2.161554,3.643068,2.731485,1.049194
1,11139194,1.0,NaN,25.0,2.0,0.0,NaN,NaN,42.0,NaN,...,0.175154,1.513534,0.0,2.223261,0.0,3.359201,2.230452,3.636785,2.677703,1.083144
2,11139524,1.0,NaN,95.0,16.0,14.0,NaN,4.0,42.0,23.0,...,0.518565,1.421693,0.0,2.245537,0.0,3.374747,2.210591,3.669539,2.646938,1.021845
3,11139560,1.0,NaN,41.0,2.0,14.0,NaN,4.0,42.0,127.0,...,0.805245,1.590826,0.0,2.233599,0.0,3.412700,2.210208,3.670443,2.660610,1.073322
4,11139588,1.0,NaN,25.0,58.0,0.0,NaN,NaN,42.0,NaN,...,0.605962,1.017586,0.0,2.307436,0.0,3.290437,2.279670,3.760074,2.466309,0.942672

In [51]:
product_wide = product_wide.merge(product_sold, on= 'productid',how='inner')

In [52]:
train_agg = train.groupby(['UserId','productid'])['Quantity'].sum().reset_index()

In [54]:
train_agg.shape

(74915, 3)

In [55]:
train_agg.describe()

             UserId     productid      Quantity
count  74915.000000  7.491500e+04  74915.000000
mean   14493.035173  1.232877e+07      1.793539
std     8248.096978  5.583793e+05      4.705072
min        0.000000  1.113919e+07      1.000000
25%     7354.500000  1.165994e+07      1.000000
50%    14580.000000  1.240746e+07      1.000000
75%    21813.500000  1.265833e+07      1.000000
max    27777.000000  1.412948e+07    275.000000

In [56]:
train_agg.head()

   UserId  productid  Quantity
0       0   11659624         1
1       1   12406904         1
2       2   11660064         1
3       3   12360440         3
4       3   12371354         3

In [57]:
product_wide.head()

,productid,Category,Collection,Color,Fabric,Fit,Material,Neckline,Season,Sleeve Length,...,119,120,121,122,123,124,125,126,127,weight
0,11139192,1.0,NaN,41.0,2.0,0.0,NaN,NaN,42.0,NaN,...,1.476201,0.0,2.180856,0.0,3.394458,2.161554,3.643068,2.731485,1.049194,0.000186
1,11139194,1.0,NaN,25.0,2.0,0.0,NaN,NaN,42.0,NaN,...,1.513534,0.0,2.223261,0.0,3.359201,2.230452,3.636785,2.677703,1.083144,0.000186
2,11139524,1.0,NaN,95.0,16.0,14.0,NaN,4.0,42.0,23.0,...,1.421693,0.0,2.245537,0.0,3.374747,2.210591,3.669539,2.646938,1.021845,0.000804
3,11139560,1.0,NaN,41.0,2.0,14.0,NaN,4.0,42.0,127.0,...,1.590826,0.0,2.233599,0.0,3.412700,2.210208,3.670443,2.660610,1.073322,0.000074
4,11139588,1.0,NaN,25.0,58.0,0.0,NaN,NaN,42.0,NaN,...,1.017586,0.0,2.307436,0.0,3.290437,2.279670,3.760074,2.466309,0.942672,0.000022

In [58]:
final_train = train_agg.merge(product_wide, on='productid', how='left').fillna(-1)

In [60]:
#for i in final_train.columns:
 #   print(i,final_train[i].nunique())

UserId 27778
productid 3026
Quantity 108
Category 6
Collection 22
Color 134
Fabric 35
Fit 8
Material 5
Neckline 14
Season 9
Sleeve Length 16
0 2487
1 61
2 2990
3 3001
4 2997
5 3002
6 2651
7 3002
8 2937
9 1074
10 2990
11 3002
12 3002
13 3000
14 3001
15 2999
16 2838
17 554
18 3001
19 3000
20 2999
21 3001
22 2935
23 2930
24 2990
25 240
26 214
27 2824
28 2839
29 2999
30 2953
31 2843
32 313
33 98
34 2950
35 3001
36 3001
37 3001
38 3002
39 3001
40 1171
41 958
42 1040
43 2890
44 3001
45 3000
46 3002
47 3000
48 369
49 386
50 2066
51 2996
52 2978
53 3002
54 2662
55 2006
56 1547
57 291
58 163
59 2819
60 2851
61 3002
62 2956
63 2835
64 382
65 164
66 2877
67 2995
68 3001
69 3001
70 3002
71 3001
72 1547
73 726
74 1316
75 2841
76 3001
77 3001
78 3002
79 2988
80 830
81 361
82 1896
83 2955
84 2986
85 3001
86 2565
87 2131
88 1197
89 311
90 193
91 2806
92 2911
93 2999
94 2941
95 2873
96 152
97 1869
98 2401
99 2926
100 2992
101 3000
102 3001
103 3002
104 409
105 2724
106 452
107 2875
108 2978
109 2999
110 3000
111 2990
112 281
113 1724
114 492
115 2927
116 2875
117 2999
118 2704
119 2999
120 165
121 2997
122 48
123 2819
124 2872
125 2997
126 2988
127 2867
weight 240

In [61]:
final_train = pd.get_dummies(final_train,columns = ['Category','Fit','Material','Season','Collection'])

In [62]:
final_user_mean = final_train.groupby('UserId').mean().reset_index()

In [63]:
final_user_mean = final_user_mean.drop('productid',axis=1)

In [65]:
final_user_mean = final_user_mean.merge(user_days, on ='UserId', how ='inner')

In [ ]:
final_user_mean.head()

In [67]:
scaler = StandardScaler()

In [69]:
final_user_mean.shape

(27778, 187)

In [136]:
nbrs = NearestNeighbors(n_neighbors=17, algorithm='auto',metric='cosine').fit(scaler.fit_transform(final_user_mean.iloc[:,1:]))

/anaconda3/lib/python3.7/site-packages/sklearn/preprocessing/data.py:617: DataConversionWarning: Data with input dtype float32, int64, float64 were all converted to float64 by StandardScaler.
  return self.partial_fit(X, y)
/anaconda3/lib/python3.7/site-packages/sklearn/base.py:462: DataConversionWarning: Data with input dtype float32, int64, float64 were all converted to float64 by StandardScaler.
  return self.fit(X, **fit_params).transform(X)

In [137]:
distances, indices = nbrs.kneighbors(scaler.fit_transform(final_user_mean.iloc[:,1:]))

/anaconda3/lib/python3.7/site-packages/sklearn/preprocessing/data.py:617: DataConversionWarning: Data with input dtype float32, int64, float64 were all converted to float64 by StandardScaler.
  return self.partial_fit(X, y)
/anaconda3/lib/python3.7/site-packages/sklearn/base.py:462: DataConversionWarning: Data with input dtype float32, int64, float64 were all converted to float64 by StandardScaler.
  return self.fit(X, **fit_params).transform(X)

In [139]:
indices.shape

(27778, 17)

In [140]:
nearest_n = pd.DataFrame(indices)

In [141]:
nearest_n['UserId'] = nearest_n.index

In [142]:
nearest_n.head()

,0,1,2,3,4,5,6,7,8,9,10,11,12,13,14,15,16,UserId
0,21502,3382,23480,27460,4599,10809,18810,22549,21339,26712,1015,11931,26951,8474,21695,253,0,0
1,10928,11667,2714,2223,8830,10594,1,20206,11825,2351,4647,14689,13085,12710,2868,21817,26254,1
2,5577,2,12420,13554,14575,10630,2819,17556,27499,7661,3057,16608,7181,21067,18243,12179,668,2
3,3,12335,25390,18632,19459,9129,18128,768,22551,24466,21421,1978,23438,25231,11691,4455,22510,3
4,4,12231,19833,25383,21569,17326,11777,7796,10560,1707,12466,12072,10132,15783,19895,26545,559,4

In [143]:
nearest_n_long = nearest_n.melt(id_vars='UserId').sort_values(['UserId','variable'])

In [144]:
final_merged = nearest_n_long.merge(train_agg,left_on=['value'], right_on='UserId').sort_values(['UserId_x','variable'])

In [145]:
top10

[12658512,
 12407154,
 12407730,
 12371378,
 11659624,
 12407400,
 12406904,
 12407742,
 12407398,
 12360424]

In [146]:
final_merged.head()

     UserId_x variable  value  UserId_y  productid  Quantity
0           0        0  21502     21502   11659624         1
42          0        1   3382      3382   11659624         1
82          0        2  23480     23480   11659624         1
123         0        3  27460     27460   11659624         1
164         0        4   4599      4599   11659624         1

In [147]:
final_pred = final_merged.groupby('UserId_x')['productid'].unique().reset_index()

In [148]:
final_pred.head()

   UserId_x                                          productid
0         0                                         [11659624]
1         1                                         [12406904]
2         2           [11660064, 12407198, 11714456, 11481104]
3         3  [12360440, 12371354, 12407298, 12407522, 12407...
4         4  [11659934, 12437468, 12407010, 12437314, 12436...

In [149]:
top10[:2]

[12658512, 12407154]

In [150]:
# add top10 most bought products for users haveing less than 10 recommendations
def append_list(row):
    ct=0
    row = list(row)
    if len(row) < 10:
        while(len(row)<10):
            row.append(top10[ct])
            ct = ct + 1
        return row
    else:
        return row[:10]

In [151]:
final_pred['productid'] = final_pred['productid'].apply(append_list)

In [152]:
final_pred.head()

   UserId_x                                          productid
0         0  [11659624, 12658512, 12407154, 12407730, 12371...
1         1  [12406904, 12658512, 12407154, 12407730, 12371...
2         2  [11660064, 12407198, 11714456, 11481104, 12658...
3         3  [12360440, 12371354, 12407298, 12407522, 12407...
4         4  [11659934, 12437468, 12407010, 12437314, 12436...

In [154]:
final_pred = final_pred.rename({'UserId_x':'UserId','productid':'product_list'},axis=1)

In [155]:
final_pred.merge(test, on= 'UserId', how='inner').to_csv('capillary_nearest_neighbour17_image128_encode_cosine_user_feat.csv',index=False)